.card{
    border-radius: 15px;
    padding: 10px;
    font-family: 'Red Hat Display', sans-serif;
    background: #61892F;
    margin-bottom: 10px;
    /* overflow: none; */
    display: inline-block;
    height: 100px;
    width: 100%;
}

.baseLayout{
    padding-top: 5%;
    background: #222629;
    width:100%;
    height: 100vh;
}
.walkingBox{
    width: 60px;
    height: 90px;
    border: solid 2px orange;
    float: right;
}
.card_header{
} 

.card_body{
    padding-top: 10px;
    padding-bottom: 5px;
}
.cat_item{
    margin-left: 5px;
    margin-right: 5px;
}
.card_body_large{
    background: #FFFF00;
    width: 80%;
    margin-left: 10%; 
    margin-right: 10%; 
    border-radius: 15px;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.list {
    padding-left: 0;
}
